html,
input,
button {
    font-size: 20px;
}

h1 {
    display: inline-block;
    text-align: center;
    width: 50%;
}

h2 {
    text-align: center;
}

h3 {
    display: inline-block;
    width: 50%;
}

#progress,
#switch,
#save {
    margin: 0 2%;
    display: inline-block;
    width: 10%;
}

#list,
#view,
#model {
    float: left;
}

#list {
    text-align: center;
    width: 10%;
}

#view,
#model {
    width: 42%;
    position: relative;
}

#model {
    padding: 0 0 0 2rem;
}

#selector {
    font-size: 1rem;
    width: 50%;
    border: 1px solid black;
}

#overlay {
    border: 1px solid black;
    aspect-ratio: 1;
}

#datasvg {
    position: absolute;
    z-index: 2;
}

#fontsvg {
    position: absolute;
    z-index: 1;
}

.numberModel {
    font-size: 1rem;
    padding: 0 0.5rem;
}

.number {
    width: 25px
}

.cmd {
    text-align: center;
    display: inline-block;
    width: 20px;
    margin: 0 5px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}